<div class="react-grid-layout" [ngStyle]="setStyles()">
<table border="1" class="calendar-table">
	<tbody>
		<tr *ngFor="let i of duration | demoNumber">
			{{getTime(i*5)}}
		</tr>
	</tbody>
</table>
<div class="sideLayout">
<grid-item *ngFor="let l of sideLayout;let i=index;" 
	[containerWidth]= "width"
	[rowHeight]="rowHeight"
	[cols]="cols"
	[containerPadding]="containerPadding"
	[margin]="margin"
	(onDrag)="onDrag($event)"
	(onDragStop)="onDragStop($event)"
	[isStatic]="l.static"
	[isSideLayout]="true"
	[w]="l.w"
	[h]="l.h"
	[x]="l.x"
	[y]="l.y"
	[i]="l.i"></grid-item>
</div>
<div class="mainLayout">
<grid-item *ngFor="let l of mainLayout;let i=index;" 
	[containerWidth]= "width"
	[rowHeight]="rowHeight"
	[cols]="cols"
	[containerPadding]="containerPadding"
	[margin]="margin"
	(onDrag)="onDrag($event)"
	(onDragStop)="onDragStop($event)"
	[isStatic]="l.static"
	[w]="l.w"
	[h]="l.h"
	[x]="l.x"
	[y]="l.y"
	[i]="l.i"></grid-item>
</div>

</div>
